<div class="col-lg-12 justify-center">
    <div class="card">
       <div class="card-header">
        <h3 class="text-center">Đăng nhập</h3>
       </div> 
       <div class="card-body">
        <form (ngSubmit)="submit()" #myForm="ngForm">
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" [(ngModel)]="form.email" name="email" id="email" class="form-control"
                    placeholder="Email Address" #email="ngModel" ariadescribedby="helpId" required>
                <small *ngIf="email.invalid && (email.touched || email.dirty)" id="helpId" class="text-danger">Email không được phép trống</small>
            </div>
            <div class="form-group">
                <label for="">Mật khẩu</label>
                <input type="password" [(ngModel)]="form.password" minlength="8" name="pass" id="pass" autoComplete="on"
                    class="form-control" placeholder="Password" #pass="ngModel" aria-describedby="helpId" required>
                <small *ngIf="pass.invalid && (pass.touched ||
        pass.dirty)" id="helpId" class="alert">
                    <small *ngIf="pass.errors?.['required']" id="helpId" class="text-danger">Mật khẩu không được phép trống</small>
                    <small *ngIf="pass.errors?.['minlength']" id="helpId" class="text-danger">Mật khẩu phải từ 8 kí tự trở lên
                        long.</small>
                </small>
            </div>
            <div style="text-align: center;"> 
                <button type="submit" [disabled]="myForm.form.invalid" class="btn btn-primary">
                    <ng-container>
                        Submit
                    </ng-container>
                </button>
            </div>
            <div class="csa d-flex">
              <p>Chưa có tài khoản ư </p><a href="" routerLink="/register" class="ms-1"> Nhấn vào đây để đăng kí ngay!</a>
            </div>
        </form>
       </div>
    </div>
    
    
</div>